body{
    background: radial-gradient(circle, rgba(176,99,230,1) 0%, rgba(253,153,45,1) 100%);
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    position: relative;

}
.text-conteiner{
    width: 500px;
    height: 230px;
    background-color: white;
    border-radius: 20px;
    opacity: 0.8;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    
}
.green-text{
    color: green;
}
.black-text{
    color: rgb(53, 53, 53);
}